@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Noto+Sans:wght@400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor1{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
}
.contenedor2{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.contenedor3{
    width: 90%;
    height: 75vh;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}
.icono-div{
    width: 90%;
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img-container{
    width: 32px;
    height: 32px;
    overflow: hidden;
    border-radius: 5px;
}
.img-container >img{
    width: 100%;
    height: 32px;
    object-fit: cover;
}
.img-container2{
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 8px;
}
.img-container2 >img{
    width: 100%;
    height: 40px;
    object-fit: cover;
}
.para-desplegable-div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}
.nombre-desplegable{
    display: none;
}

#menu-desplegable{
    display: none;
    transform: 0.5s all;
}
#flecha-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
#flecha-div.arriba{
    transform: rotate(180deg);
}
#menu-desplegable.active{
    position: fixed;
    right: 8%;
    top:8%;
    width: 170px;
    min-height: 120px;
    border-radius: 12px;
    border: 1px solid #E0E0E0;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: 0.5s all;
}
.centro-menu-desplegable{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.opcion-menu{
    width: 90%;
    height: 39px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    margin: 10px;
}
.opcion-menu:hover{
    cursor: pointer;
    background-color: #F2F2F2;
}
.opcion-menu >div{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icono-profile{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4F4F4F;
}
.icono-profile >span{
    color: white;
}
.icono-grupo >span{
    color: #4F4F4F;
}
.nombre-opcion{
    color: var(--gray-2, #4F4F4F);
    font-family: Noto Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
}
.divisor-menu{
    display: flex;
    width: 100%;
    border-bottom: 1px solid #E0E0E0;
}
.icono-grupo2 >span{
    color: var(--red, #EB5757);
}
.nombre-logout{
    color: var(--red, #EB5757);
    font-family: Noto Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
}
.titulo-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo-div >h2{
    color: #000;
    font-family: Noto Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}
.titulo-div >h3{
    color: #000;
    font-family: Noto Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
}
.titulo-boton-div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.titulo2-div{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.titulo2-div >h2{
    color: #000;
    font-family: Noto Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}
.titulo2-div >h5{
    color: #828282;
    font-family: Noto Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
}
.boton-div{
    width: 40%;
    display: flex;
    justify-content: end;
    align-items: center;
}
#editBtn{
    width: 50%;
    height: 38px;
    border-radius: 12px;
    border: 1px solid #828282;
    background-color: transparent;
    outline: none;
    color: #828282;
    font-family: Noto Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    transition: 0.5s;
}
#editBtn:hover{
    cursor: pointer;
    background-color: #2F80ED;
    color: white;
}
.info-div{
    width: 110%;
    height: auto;
    border-bottom: 1px solid #E0E0E0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divisor{
    display: none;
}
.info-div2{
    width: 90%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
}
.info-div2 >p{
    color: #BDBDBD;
    font-family: Noto Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
}
.info-div2 >b{
    color: #333;
    font-family: Noto Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}
.creditos-div{
    width: 90%;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.creditos-div >p{
    color: #BDBDBD;
    font-family: Noto Sans;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
}
#tel-div.info-div{
    display: none;
}
@media screen and (min-width: 900px){
    .contenedor1{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 15px;
    }
    .contenedor2{
        width: 90%;
        height: 100vh;
    }
    .contenedor3{
        width: 50%;
        height: 75vh;
        padding-top: 10px;
        border-radius: 12px;
        border: 1px solid #E0E0E0;
    }
    .titulo-boton-div{
        width: 90%;

    }
    .divisor{
        display: flex;
        width: 100%;
        border-bottom: 1px solid #E0E0E0;
    }
    .info-div{
        width: 98%;
    }
    .info-div2{
        justify-content: start;
        align-items: center;

    }
    .creditos-div{
        width: 50%;
    }
    .info-div2 >p{
        width: 40%;
    }
    .nombre-desplegable{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nombre-desplegable >p{
        color: var(--gray-1, #333);
        font-family: Noto Sans;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
    }
    .para-desplegable-div:hover{
        cursor: pointer;
    }
    #tel-div.info-div{
        width: 98%;
        height: auto;
        border-bottom: 1px solid #E0E0E0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .titulo-boton-div{
        padding-top: 10px;
    }
}
@media screen and (max-height: 900px){
    .contenedor3{
        height: auto;
    }
}